main{
    display: grid;
    /*eight: 100vh;*/
    gap: 10px;
    grid-template-areas:
    "header"
    "contenido"
    "footer"
    ;
}

main > *{
    display: flex;
    justify-content: left;
    align-items: center;
}

/*Comienzo de MQ*/

/*Responsive*/
/*Tablets*/
/*@media screen and (min-width:768px){
    main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-areas:
        "header header" 
        "contenido contenido"
        "footer footer" 
        ;
    }
}*/

/*Desktop*/
@media screen and(min-width:1200px){
    main{
        grid-template-columns: 1fr 2fr (1fr);
        grid-template-rows: 2fr 5fr 1fr;    
        grid-template-areas: 
        "header header header"
        "contenido contenido contenido"
        "footer footer footer"
        ;
    }
}

/*Fin de MQ*/





/*Nombramiento de areas*/
header{
    grid-area: header;
}

section{
    grid-area: contenido;
}

footer{
    grid-area: footer;
    /*background-color: tomato;*/
}

.body{
    background-image: url(../images/fondoazul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.rowFlex {
	display: flex; /* propiedad que permite aplicar flexbox sobre contenedor padre*/
	flex-direction: row; /*elegimos orientación sobre eje X o Y -*/	
	flex-wrap: nowrap; /* obligamos o no (a los items hijos), a adaptarse al ancho del contendor padre */
	width: 100%;
    height: 70%;
    
}

.ordenDatos{
    display: flex;
    flex-direction:column;
}

.rowFlex img{
    margin-left: 10px;
    width: 100px;
}

.navFlex{
	display: flex;
	flex-direction: row;
	width: 90%;
	justify-content: flex-end; /*organizar los elementos:  center, flex-start, flex-end, space-around, space-between, spave-evenly */
}

.navFlex li {list-style-type: none;
    padding: 15px;
    font-size: 1rem; 
}

.navFlex li a {text-decoration: none;}


.border{
    border: 1px solid black;
    /*background-color: yellow;*/
}

.posicion{
    justify-content: center;
    align-items: center;
}

.footery{
    display: flex;
	flex-direction: row;
	justify-content: space-between;
    height: 45px;
    /*reemplazar height por 100% cuando se aplique Grid a todos los html*/
    width: 100%;
    /*position: relative;*/
    align-self: flex-end;
}

.footery img{
    height: 100%;
}

.footery p{
    margin-top: 15px;
}


.navRedes{
    display: flex;
	flex-direction: row;
	width: 15%;
    justify-content: space-around;
}

.navRedes li img{
    width: 75%;
	height: 80%;
    margin-top: 10px;
}


.botonesForm ul li input{
    width: 100%;
    border-radius: 5px;
}

.botonesForm ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}


.formatoInput{
    border-radius: 30px;
    margin-top: 5px;
    position: relative;
    text-align: center;
}

/*
.englobador{
    background-color: rgb(23, 124, 190, 0.5);
}*/

.englobador textarea{
    resize: none;
}

.containerForm h3{
    text-align:center;
}

ul{
    list-style: none;
   font-size: 0; 
}
li{
    position: relative;
    font-size: 16px;
}

li a {
    text-decoration: none;
    list-style: none;
    color: black
}