*{
    margin: 0;
    padding: 0;
}

@font-face {
	font-family: 'letraBold';
	src: url('../assets/Dongle-Bold.ttf');
}





/*Inicio Lote que afecta HTML en GENERAL*/
.border{
    border: 1px solid black;
}

header{
    grid-area: header;
}

footer{
    grid-area: footer;
}

section#productos{
    grid-area: productos;
}

section#servicios{
    grid-area: servicios;
}

section#frase{
    grid-area: frase;
}

aside{
    grid-area: publicidad;
}

.rowFlex {
	display: flex; 
	flex-direction: row; 
	flex-wrap: nowrap; 
	width: 100%;
    background-color: rgb(0, 139, 139,0.3);
}

.rowFlex img{
    width: 100px;
}

.navRedes{
    display: flex;
	flex-direction: row;
	width: 15%;
    justify-content: space-around;
}

.navRedes li img{
    width: 100%;
	height: 75%;
    margin-top: 10px;
}

.navRedes li p{
    margin-top: 10px;
}

.navFlex{
	display: flex;
	flex-direction: row;
	width: 90%;
	justify-content: flex-end;
}

.navFlex li {list-style-type: none;
    padding: 15px;
    font-size: 1rem; 
}

.navFlex li a {text-decoration: none;}

.body{
    background-image: url(../images/fondoazul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.footery{
    display: flex;
	flex-direction: row;
	justify-content: space-between;
    height: 45px;
    width: 100%;
    margin-top: 10px;
    align-self:center;
    background-color: rgb(128, 128, 128,0.3);
}

.footery img{
    height: 100%;
}

.footery p{
    margin-top: 10px;
}

.traslado:hover{
    transform: rotate(180deg);
}


ul{
    list-style: none;
    font-size: 0; 
}

/* Modificando estilos de lista */
li{
    position: relative;
    font-size: 16px;
}

li a {
    text-decoration: none;
    list-style: none;
    color: black
}
/*Fin Lote que afecta HTML en GENERAL*/


/*Inicio lote que afecta INDEX.html*/
.mision{
    position: relative;
    display: inline-block;
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-top: 50px;
    border-style: dotted;
    background-color: rgb(255,255,255,0.4);
}

.mision h3 {
    /* Aplicando Box Modeling */
    font-family: 'letraBold';
	font-size: 3rem; 
	text-align: center; 
	padding-top: 20px;
    padding-bottom: 20px;
}

.mision p{
    /* Aplicando Tipografías y Box Modeling */ 

    font-size: 15px; 
	text-align: center; 
	padding-top: 20px;
    padding-bottom: 10px;
}

.compromiso{
    position: relative;
    display: inline-block;
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-top: 100px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    background-color: rgb(134, 218, 134,0.5);
}

.compromiso h3{
    font-family: 'letraBold';
    font-size: 3rem;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.compromiso th{
    padding-top: 10px;
}

.publicidad1{
    padding-top: 50px;
}

.publicidad1 img{
    margin-top: 30px;
    width: 100%;
    height: 50%;
}
/*Fin lote que afecta INDEX.html*/


/*Inicio lote que afecta SOBRENOSOTROS.html*/
.bodyNosotros{
    background-color: rgb(0, 139, 139,0.3);
    background-repeat: repeat;
    position: relative;
}

.historia{
    position: relative;
    display: inline-block;
    width: 80%;
    height: auto;
    background-color: rgb(0, 139, 139,0.3);
    padding: 35px 0 35px 0;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 20px solid black;
}

.historia2{
    position: relative;
    display: inline-block;
    width: 80%;
    height: auto;
    background-color: rgb(0, 139, 139,0.3);
    margin-top: 30px;
    margin-bottom: 50px;
    border: 20px solid black;
}

.historia h3{
    text-align: center;
    padding: 20px;
}

.historia p{
    text-align: center;
    padding: 10px;
}

/*Fin lote que afecta SOBRENOSOTROS.html*/


/*Inicio lote que afecta PRODUCTOS.html*/


.estiloTabla{
    padding: 15px;
    margin-left: 40%;
}
/*Fin lote que afecta PRODUCTOS.html*/


/*Inicio lote que afecta CONTACTO.html*/
.botonesForm ul li input{
    width: 100%;
    border-radius: 5px;
}

.botonesForm ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.contenedorFoto{
    width: 420px;
    height: 390px;
    background-color: khaki;
    position: relative;
    margin-left: 400px;
}

.containerForm{
    width: 500px;
    height: 100%;
    position: relative;
    margin-left: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(23, 124, 190, 0.5);
}

.containerForm textarea{
    resize: none;
    margin-left: 10%;
}

.agrupador{
    width: 70%;
    position: relative;
    margin-left: 20%;
}
/*Fin lote que afecta CONTACTO.html*/

.gradian{
    background-image: linear-gradient(to left, rgb(66, 206, 53),yellow);
}

.fondogris{
    background-color: rgba(215,215,215);
}

.contenedorGaleria{
    position: relative;
    width: 80%;
    margin-left: 10%;
    height: auto;
    margin-bottom: 10px;
}

.titulos{
    text-align: center;
}

.tamano{
    width: 80%;
    height: auto;
}

.margen{
    margin-top: 25px;
}

.fonfo img{
    margin-top: 30px;
    width: 100%;
    height: auto;
}

.iconosEco{
    margin-left: 40px;
}

.ubicar{
    padding-top: 100px;
}

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.tamanio{
    position: relative;
    display: inline-block;
    justify-content: center;
    width: 40%;
    margin-left: 30%;
    margin-top: 50px;
    height: auto;
    background-color: rgb(25, 137, 241,0.5);
}

.tamanio input{
    width: 80%;
    margin-left: 10%;
    margin-top: 5px;
}

.tamanio h4{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tamanio h5{
    
    margin-left: 10%;
}

.tamanio option{
    margin-top: 10px;
}

.horaProd{
    margin-top: 10px;
    margin-left: 10px;
}

.comm textarea{
    position: relative;
    width: 80%;
    margin-left: 10%;
    resize: none;
}

.datosPrin input{
    border-radius: 10px
}

.botonesForm{
    width: 90%;
    padding-bottom: 15px;
}

.calzar img{
    width: 80%;
    margin-left: 10%;
    padding-top: 20px;
}

.escalar{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgb(215,215,215,0.5);
}

.escalar img{
    width: 80%;
    margin-left: 10%;
}

.escalar iframe{
    width: 80%;
    margin-left: 10%;
}

.titulosTrat h1{
    font-family: 'letraBold';
    text-align: center;
}
