*{
    margin: 0;
    padding: 0;
}

@font-face {
	font-family: 'letraBold';
	src: url('../assets/Dongle-Bold.ttf');
}


/*Inicio Lote que afecta HTML en GENERAL*/
.rowFlex {
	display: flex; 
	flex-direction: row; 
	flex-wrap: nowrap; 
	width: 100%;
    background-color: rgba(242, 250, 250, 0.3);
}

.rowFlex img{
    width: 100px;
}

.navItem{
    text-decoration: underline;
    text-decoration-color: red;
}

.navFlex{
	display: flex;
	flex-direction: row;
	width: 90%;
	justify-content: flex-start;
}

.navFlex li {
    list-style-type: none;
    padding: 15px;
    font-size: 1rem; 
}

.navFlex li a {text-decoration: none;}

.body{
    background-image: url(../images/pantallalimpia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.traslado:hover{
    transform: rotate(180deg);
}

.pie-pagina{
    width: 100%;
    background-color: rgba(168,207,69,0.5);
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}    

.pie-pagina .grupo-1 .box h2{
    color: black;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: black;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
} 

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

.nosotros iframe{
    width: 60%;
    margin-left: 20%;
    height: auto;
}

.border{
    border: 1px solid black;
}

/*Fin Lote que afecta HTML en GENERAL*/


/*Inicio lote que afecta INDEX.html*/
.mision{
    position: relative;
    display: inline-block;
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-top: 50px;
    border-style: dotted;
}

.mision h3 {
    font-family: 'letraBold';
	font-size: 3rem; 
	text-align: center; 
	padding-top: 20px;
    padding-bottom: 20px;
}

.mision p{
    font-size: 15px; 
	text-align: center; 
	padding-top: 20px;
    padding-bottom: 10px;
}

.blanco-rojo {
    color: #FFFFFF;
    background-color: rgba(168,207,69,0.5);
    border-radius: 15px;
}

.compromiso{
    position: relative;
    display: inline-block;
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-top: 100px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-style: dotted;
}

.compromiso h3{
    font-family: 'letraBold';
    font-size: 3rem;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.compromiso th{
    padding-top: 10px;
}

.compromiso img{
    margin-left: 50px;
}

.publicidad1{
    padding-top: 50px;  
}

.publicidad1 img{
    width: 100%;
    height: 50%;
}

.integral{
    position: relative;
    justify-self: left;
}

.zoom:hover{
    transform: scale(1.3);
}

.redes{
    position: relative;
    justify-self:right;
}

.carrusel{
    width: 40%;
    height: auto;
    margin-left: 30%;
}
/*Fin lote que afecta INDEX.html*/


/*Inicio lote que afecta NOSOTROS.html*/
.historia{
    position: relative;
    display: inline-block;
    width: 80%;
    height: auto;
    background-color: rgb(0, 139, 139,0.3);
    padding: 35px 0 35px 0;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 20px solid black;
}

.historia h3{
    text-align: center;
    padding: 20px;
}

.historia p{
    text-align: center;
    padding: 10px;
}

.distancia{
    margin-top: 50px;
    }
    
.contenedorGaleria{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.contenedorGaleria img{
    width: 100%;
}

.titulos{
    text-align: center;
}

.duracion{
    animation-duration: 3s;
    animation-delay: 5s;
}
/*Fin lote que afecta NOSOTROS.html*/


/*Inicio lote que afecta PRODUCTOS.html*/
.calzar img{
    width: 80%;
    margin-left: 10%;
    padding-top: 20px;
}
/*Fin lote que afecta PRODUCTOS.html*/


/*Inicio lote que afecta TRATAMIENTO.html*/
.escalar{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgb(215,215,215,0.5);
}

.escalar img{
    width: 80%;
    margin-left: 10%;
}

.escalar iframe{
    width: 80%;
    margin-left: 10%;
}

.titulosTrat h1{
    font-family: 'letraBold';
    text-align: center;
}
/*Fin lote que afecta TRATAMIENTO.html*/


/*Inicio lote que afecta CONTACTO.html*/
.botonesForm ul li input{
    width: 100%;
    border-radius: 5px;
}

.botonesForm ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.tamano{
    width: 80%;
    height: auto;
}

.tamanio{
    position: relative;
    display: inline-block;
    justify-content: center;
    width: 40%;
    margin-left: 30%;
    margin-top: 50px;
    height: auto;
    background-color: rgb(25, 137, 241,0.5);
}

.tamanio input{
    width: 80%;
    margin-left: 10%;
    margin-top: 5px;
}

.tamanio h4{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tamanio h5{
    
    margin-left: 10%;
}

.tamanio option{
    margin-top: 10px;
}

.comm textarea{
    position: relative;
    width: 80%;
    margin-left: 10%;
    resize: none;
}

.horaProd{
    margin-top: 10px;
    margin-left: 10px;
}

.datosPrin input{
    border-radius: 10px
}

.botonesForm{
    width: 90%;
    padding-bottom: 15px;
}
/*Fin lote que afecta CONTACTO.html*/


/*Comienzo Responsive*/

@media (max-width:575px) {
    .navFlex{
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content:flex-start;
    }

    .mision h3{
        font-size:  1rem;
    }

    .mision p{
        font-size: 10px;
    }

    .compromiso h3{
        font-size:  1rem;
    }

    .compromiso p{
        font-size: 10px;
    }

    .publicidad1 img{
        width: 50%;
        height: auto;
        margin-left: 25%;
    }

    .resize img{
        display: flex;
        width: 150%;
    }

    .carrusel{
        width: 80%;
        height: auto;
        margin-left: 10%;
    }
}

@media (min-width:576px){
    .navFlex{
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content:flex-start;
    }

    .publicidad1 img{
        width: 50%;
        height: auto;
        margin-left: 25%;
    }

    .carrusel{
        width: 60%;
        height: auto;
        margin-left: 20%;
    }
}

@media (min-width:768px) {
    .navFlex{
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content:flex-end;
    }

    .publicidad1 p{
        text-align: center;
    }
    
    .publicidad1 img{
        width: 50%;
        height: auto;
        margin-left: 25%;
    }

    .carrusel{
        width: 50%;
        height: auto;
        margin-left: 25%;
    }
}

@media (min-width:992px) {
    .navFlex{
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content:flex-end;
    }

    .mision h3{
        font-size: 48px;

    }
    .mision p{
        font-size: 15px;
    }

    .publicidad1 img{
        width: 100%;
        margin-left: 0%;
    }

    .compromiso img{
        width: 40%;
    }

    .carrusel{
        width: 40%;
        height: auto;
        margin-left: 30%;
    }
}

@media screen and (max-width:768px) {
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }    
    .integral{
        position: relative;
        justify-self:center;
    }
    
    .redes{
        position: relative;
        justify-self:center;
    }

    .compromiso img{
        width: 10%;
    }
}
/*Fin Responsive*/



/*Clases deshabilitadas, que pueden volver*/

/*.navRedes{
    display: flex;
	flex-direction: row;
	width: 15%;
    justify-content: space-around;
}

.navRedes li img{
    width: 100%;
	height: 75%;
    margin-top: 10px;
}

.navRedes li p{
    margin-top: 10px;
}  

ul{
    list-style: none;
    font-size: 0; 
}


li{
    position: relative;
    font-size: 16px;
}

li a {
    text-decoration: none;
    list-style: none;
    color: black
}   */

/*
.margen{
    margin-top: 25px;
}

.iconosEco{
    margin-left: 40px;
}

.ubicar{
    padding-top: 100px;
}*/

