*{
    margin: 0;
    padding: 0;
}

.body{
    background-image: url(../images/fondoazul.jpg);
    background-repeat: repeat;
    background-size: cover;
    position: relative;
}

.rowFlex {
	display: flex; /* propiedad que permite aplicar flexbox sobre contenedor padre*/
	flex-direction: row; /*elegimos orientación sobre eje X o Y -*/	
	flex-wrap: nowrap; /* obligamos o no (a los items hijos), a adaptarse al ancho del contendor padre */
	width: 100%;
}

.rowFlex img{
    margin-left: 10px;
    width: 100px;
}

.navFlex{
	display: flex;
	flex-direction: row;
	width: 90%;
	justify-content: flex-end; /*organizar los elementos:  center, flex-start, flex-end, space-around, space-between, spave-evenly */
}

.navFlex li {list-style-type: none;
    padding: 15px;
    font-size: 1rem; 
}

.navFlex li a {text-decoration: none;}


.navRedes{
    display: flex;
	flex-direction: row;
	width: 15%;
    justify-content: space-around;
    list-style-type: none;
}

.navRedes li img{
    width: 75%;
	height: 50%;
    margin-top: 10px;
    text-decoration: none;
}

.navRedes li p{
    margin-top: 10px;
}

li a {
    text-decoration: none;
    list-style: none;
    color: green
}


.footery{
    display: flex;
	flex-direction: row;
	justify-content: space-between;
    height: 45px;
    /*reemplazar height por 100% cuando se aplique Grid a todos los html*/
    width: 100%;
    /*position: relative;*/
    align-self: flex-end;
}

.footery img{
    height: 100%;
}

.footery p{
    margin-top: 10px;
}

.navRedes li p{
    text-decoration: none;
}




.border{
    border: 1px solid black;
    /*background-color: yellow;*/
}




/*Comienzo MQ Grid - Tratamiento*/
.grid-contenedor{
    /*background: rgb(255, 255, 255,0.4);*/
    width: 90%;
    max-width: 1000px;
    margin: 26px auto;

    display: grid;
    gap: 26px;
    grid-template-columns: repeat(5,1fr);
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img{
    width: 10%;
}

.grid-contenedor .header,
.grid-contenedor .content,
.grid-contenedor .sidebar,
.grid-contenedor .footery,
.grid-contenedor div{
    background: #fff;
    padding: 20px;
    border: 1px solid black;
}

.grid-contenedor .header{
    background: #807e9b;
    grid-column: 1/5;
}

.grid-contenedor .footery{
    background: #807e9b;
    grid-column: 1/5;

}

.grid-contenedor > .content{
    grid-column: 1/-1;   
}

.content > .article{
    background: #807e9b;
    padding: 20px;
    margin-top: 5px;
    color: #dfe6e9;
}

.content .article h3,
.content .article p{
    padding: 5px;
}

.grid-contenedor > .sidebar{
    grid-column: 1/5;
    background: hotpink;
    color:rgba(148, 24, 24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-contenedor .sidebar img{
    width: 100%;
    margin-top: 5px;
}

.grid-contenedor .sidebar iframe{
    width: 100%;
    margin-top: 5px;
}

/*Media Queries*/
/*Tablets*/

@media screen and (min-width:768px) {
    .grid-contenedor > .content{
        grid-column: 1/3;
    }
    .grid-contenedor .sidebar{
        grid-column: span 2;
    }
}

/*Desktop*/
@media screen and (min-width:1200px) {
    .grid-contenedor > .content{
        grid-column: 1/5;
    }
    .grid-contenedor .sidebar{
        grid-column: span 5;
    }
}

/*Fin MQ Grid - Tratamiento */