@font-face {
	font-family: 'letraBold';
	src: url('../assets/Dongle-Bold.ttf');
}
$tipografia: 'letraBold';

$tamanioTitulo: 3rem;
$tamanioParrafo: 15px;
$mensajeContacto: 'Te dejamos este fondo para que te inspires. Contactanos..';
$opacityVal: 0;
