@import "tipografia";

* {
    margin :  0 ;
    padding :  0 ;
    -webkit-box-sizing : border-box;
            box-sizing : border-box;
  }

.video{
    video{
        margin-left: 35%;
    }
    p{
        font-size: 2rem;
        text-align: center;
    }
}

//Inicio General
.fondofinal{
    background-image: url('../images/fondoplaya.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    p{
        text-align: center;
        font-size: 1.5rem;
    }
}

.orden{
    p{
        text-align: center;
    }
    ul{
        padding-left: 0px;
    }
    li{
        list-style-type: none;
    }
}

.espacio{
    text-align: center;
    margin-bottom: 80px;
    /*Tamaño de imagen en query*/
}

.overlay{
    //background-color: blue;
    opacity: 0;
    width: 40%;
    height: 550px;
    margin-left: 30%;
    margin-top: 10px;
    background: rgb(255, 255, 255,0.9);
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    align-items: center;
    justify-content: center;
    z-index: 1;
    img{
        width: 100%;
        height: auto;
    }
    a{
        color: black;
    }
}

.busqueda{
    .overlay{

        animation-name: aparecer2;
        animation-duration: 20s;
        animation-delay: 3s;
    }
}

@keyframes aparecer2{
    0%{ opacity: 0.99;}
    100%{opacity: 1;}
}

.popup{
    text-align: center;
    .btn-cerrar-popup{
        font-size: 16px;
        line-height: 16px;
        display: block;
        text-align: right;
        color: green;
        &:hover{
            color: red;
        }
    }
}

.modal{
        position: fixed;
        top: 0;
        left: 0;
        display: inline-block !important;
        width: 100%;
        height: 100%;
        background-color: rgb(255,255,255, 0.3)
}

.navFlex{
	display: flex;
	flex-direction: row;
	width: 95%;
	justify-content: flex-end;
    li{
        list-style-type: none;
        padding: 15px;
        font-size: 1rem; 
        a{
            text-decoration: none;
        }
    }
}

.repartidor{
    position: fixed;
    img{
        width: 300px;
        height: auto;
        margin-left: 40%;
    }
}

.alert {
    width: 40%;
    height: auto;
    padding: 20px;
    margin-bottom: 15px;
    margin-left: 30%;
    background-color: rgba(242, 250, 250, 0.5);
    img{
        width: 100%;
        height: auto;
        position: relative;
    }
    p{
        font-size: 1rem;
        color: black;
        text-align: center;
    }
}

  /* The close button */
.closebtn {
    margin-left: 15px;
    margin-right: 15px;
    color: red;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

  /* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.navItem{
    text-decoration: underline;
    text-decoration-color: red;
}

.rowFlex {
	display: flex; 
	flex-direction: row; 
	flex-wrap: nowrap; 
	width: 100%;
    background-color: rgba(242, 250, 250, 0.5);
    img{
        width: 100px;
    }
}

.body{
    background-color: lightgrey;
    position: relative;
}

.border{
    border: 1px solid black;
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    small{
        font-size: 15px;
    }
} 

.blanco-rojo {
    color:black;
    padding-left: 10px;
    padding-right: 10px;
    p{
        margin-left: 25px;
    }
    border-radius: 15px;
}

.integral{
    position: relative;
    justify-self: left;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.traslado{
        img:hover {
            /* Start the shake animation and make the animation last for 0.5 seconds */
            animation: shake 0.5s;
            
            /* When the animation is finished, start again */
            animation-iteration-count: infinite;
            }
}

.pie-pagina{
    width: 100%;
    background-color: rgba(168,207,69,0.5);
    .grupo-1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 50px;
        padding: 45px 0px;
        .box{
            figure{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content:center;
                align-items: center;
                img{
                    width: 250px;
                }    
            }
            h2{
                color: black;
                margin-bottom: 25px;
                font-size: 20px;
            }
            p{
                color: black;
                margin-bottom: 10px;
            }
        } 
        .red-social a{
            display: inline-block;
            text-decoration: none;
            width: 45px;
            height: 45px;
            line-height: 45px;
            color: #fff;
            margin-right: 10px;
            transition: all 300ms ease;
        }
    }
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    small{
        font-size: 15px;
    }

.margenInferior{
    img{
        margin-bottom: 30px;
    }
}    
} 

.calzar{
    img{
        width: 80%;
        margin-left: 10%;
        padding-top: 20px;
    }
} 

.centrar{
    text-align: center;
}

.dimension{
    width: 100%;
}

.margen{
    margin-left: 20px;
}
//Fin General

//Inicio Index
.fondopubli{
    background: linear-gradient(#dcecb5, #a8cf45);
}

.publicidad1{
    padding-top: 50px;  
    img{
        width: 100%;
        height: 50%;
    }
    p{
        font-size: 1.3rem;
        margin-bottom: 35px;
        text-align: center;
    }
}

.zoom{
    &:hover{
        transform: scale(1.3);
    } 
}

.carrusel{
    p{
        font-size: 1,5rem;
        text-align: center;
    }
}

.card-body{
    justify-content: center;
    align-content: center;
    justify-self: center;
    justify-items: center;
    & .card-title{
        font-size: 1rem;
        text-align: center;
    }
    & .card-text{
        text-align: center;
    }
}

.distancia{
    margin-top: 50px;
    }
    
.contenedorGaleria{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    img{
        width: 100%;
    }
}

.titulos{
    text-align: center;
}

.duracion{
    animation-duration: 3s;
    animation-delay: 5s;
}

.promos{
    font-size: 2rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 75px;
    margin-bottom: 15px;
    background: linear-gradient(#dcecb5, #a8cf45);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: green;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 2px solid green; 
    background-image: none;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 55px;
    color: green;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: green;
}

.promo__productos {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
  
.promo__producto {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 250px;
}

.promo__producto__card {
    height: 250px;
    width: 250px;
    position: relative;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    &:hover{
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
                .promo__producto__card__front{
                    img{
                        visibility: hidden;
                    }
                }
    }
}

.promo__producto__card__front {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#dcecb5), to(#a8cf45));
    background: linear-gradient(#dcecb5, #a8cf45);
    z-index: 2;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
  
.promo__producto__card__front__imagen {
width: 250px;
height: 250px;
}

.promo__producto__card__back {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    vertical-align: middle;
    position: absolute;
    color: black;
    width: 100%;
    height: 90%;
    border-radius: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#dcecb5), to(#a8cf45));
    background: linear-gradient(#dcecb5, #a8cf45);
    z-index: 1;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.promo__producto__caption {
    display: block;
    color: black;
    font-size: 1rem;
    text-decoration: none;
}

.promo__contactanos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.tituloBlanco{
    p{
        color: black;
    }
}
//Fin Index

//Inicio Contacto
.bodyContacto{
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}

.inspiracion{
    margin-top: 10px;
    text-align: center;
    p{
        font-size: 1.3rem;
    }
}

.tamanio{
    position: relative;
    display: inline-block;
    justify-content: center;
    width: 30%;
    margin-left: 5%;
    margin-top: 50px;
    margin-bottom: 40px;
    height: auto;
    background-color: rgb(25, 137, 241,0.5);
    input{
        width: 60%;
        margin-left: 20%;
        margin-top: 5px;
    }
    h4{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    h5{
        text-align: center;
    }
    option{
        margin-top: 10px;
    }
}

.datosPrin{
    input{
        border-radius: 10px;
        text-align: center;
    }  
} 

.horaProd{
    margin-top: 10px;
    margin-left: 10px;
}

.comm{
    margin-top: 20px;
    textarea{
        position: relative;
        width: 60%;
        margin-left: 20%;
        resize: none;
    }
} 

.botonesForm{
    width: 100%;
    padding-bottom: 15px;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        li{
            input{
                width: 100%;
                border-radius: 5px;
            }
        } 
    }
}
//Fin Contacto

//Inicio Productos
.envasados{
    h3{
        margin-top: 40px;
        text-align: center;
    }
}

.precios{
    margin-top: 40px;
    text-align: center;
    background: linear-gradient(#dcecb5, #a8cf45);
}
//Fin Productos

//Inicio Nosotros
.mision{
    position: relative;
    display: inline-block;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 50px;
    h3{
        font-family: 'letraBold';
        font-size: $tamanioTitulo; 
        text-align: center; 
        padding-top: 20px;
        padding-bottom: 10px;
    }
    p{
        font-size: $tamanioParrafo; 
        text-align:left;
        margin-left: 10px; 
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.compromiso{
    position: relative;
    display: inline-block;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    h3{
        font-family: 'letraBold';
        font-size: $tamanioTitulo;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
        
    }
    th{
        padding-top: 10px;
    }
    img{
        align-items: center;
        width: 20%;
        margin-left: 40%;
    }
    p{
        font-size: $tamanioParrafo; 
        text-align: left;
        margin-left: 10px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
}

.historia{
    position: relative;
    display: inline-block;
    width: 80%;
    height: auto;
    padding: 35px 0 35px 0;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 50px;
}
//Fin Nosotros

//Inicio Tratamiento
.caminoatumesa{
    margin-top: 25px;
    text-align: center;
}

.entregas{
    position: relative;
    margin-top: 50px;
    img{
        width: 80%;
        margin-left: 10%;
        margin-bottom: 25px;
    }
    p{
        text-align: center;
        font-size: 1.5rem;
    }
    h3{
        text-align: center;
        font-size: 1.5rem;
        width: 80%;
        margin-left: 10%;
        background: linear-gradient(#dcecb5, #a8cf45);
    }
}

.titulosTrat h1{
    font-family: 'letraBold';
    text-align: center;
}
//Fin Tratamiento

//Inicio Responsive
@media (max-width:575px) {
.promo__productos{
    .promo__producto{
        margin-bottom: 25px;
    }
}

    .navFlex{
        display: flex;
        flex-direction: row;
        width: 95%;
        justify-content:flex-start;
    }

    .overlay{
        opacity: 0;
        width: 70%;
        height: 370px;
        margin-left: 15%;
        margin-top: 10px;
        background: rgb(255, 255, 255,0.9);
        position: fixed;
        top:0;
        bottom:0;
        left:0;
        right:0;
        align-items: center;
        justify-content: center;
        z-index: 1;
        img{
            width: 100%;
            height: auto;
        }
        a{
            color: black;
        }
    }

    .mision{
        width: 90%;
        height: auto;
        margin-left: 5%;
        h3{
            font-size:  1.6rem;
        }
        p{
            font-size: 13px;
        }
    }

    .compromiso{
        h3{
            font-size:  1.6rem;
        }
        p{
            font-size: 13px;
        }
        span{
            font-size: 1.5rem;
        }
    }

    .publicidad1{
        img{
            width: 50%;
            height: auto;
            margin-left: 25%;
            margin-bottom: 25px;
        }
    }

    .resize{
        img{
            display: flex;
            width: 150%;
        }
    } 

    .carrusel{
        width: 80%;
        height: auto;
        margin-left: 10%;
    }
    
    .tamanio{
        width: 65%;
        margin-left: 5%;
    }

    .carousel-control-next-icon:after
    {
        content: '>';
        font-size: 25px;
        color: green;
    }

    .carousel-control-prev-icon:after {
        content: '<';
        font-size: 25px;
        color: green;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        height: 50px;
        width: 50px;
        outline: black;
    }

    .espacio{
        img{
            margin-top: 20px;
            width: 80%;
        }
        p{
            font-size: 1rem;
        }   
    }
    .promos{
            font-size: 1.5rem;
            margin-top: 50px;
            h3{
                font-size: 0.9rem;
            }
    }
    
    .pie-pagina{
        .grupo-1{
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 35px 0px;
        } 
    }    

    .integral{
        position: relative;
        justify-self:center;
    }

    .redes{
        position: relative;
        justify-self:center;
        h2{
            text-align: center;
        }
    }
    .nosotros{
        text-align: center;
    }   
    
    .fondofinal{
        background-image: url('../images/fondoplaya4.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        p{
            text-align: center;
            font-size: 0.9rem;
        }
    }
    .escalar{
        margin-top: 25px;
        margin-bottom: 25px;
        background-color: rgb(215,215,215,0.5);
        img{
            width: 100%;
            height: 90%;
            margin-left: 0%;
            margin-top: 5%;
        }
        p{
            text-align: center;
        }
    }   

    .bgtoma, .bgcarbon, .bgradiacion, .bgozono{
        background-color: white;
    }
}

@media (min-width:576px) and (max-width:767px) {

    .promo__productos{
        .promo__producto{
            margin-bottom: 25px;
        }
    }

    .fondofinal{
        background-image: url('../images/fondoplaya3.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        p{
            text-align: center;
            font-size: 1.2rem;
        }
    }

    .navFlex{
        display: flex;
        flex-direction: row;
        width: 95%;
        justify-content: flex-start;
    }

    .espacio{
        img{
            margin-top: 20px;
            width: 80%;
        }
        p{
            font-size: 1.2rem;
        }   
    }

    .overlay{
        opacity: 0;
        width: 60%;
        height: 400px;
        margin-left: 20%;
        margin-top: 10px;
        background: rgb(255, 255, 255,0.9);
        position: fixed;
        top:0;
        bottom:0;
        left:0;
        right:0;
        align-items: center;
        justify-content: center;
        z-index: 1;
        img{
            width: 100%;
            height: auto;
        }
        a{
            color: black;
        }
    }

    .publicidad1{
        img{
            width: 50%;
            height: auto;
            margin-left: 25%;
            margin-bottom: 25px;
        }
    }

    .carrusel{
        width: 80%;
        height: auto;
        margin-left: 10%;
    }
    .carousel-control-next-icon:after
    {
        content: '>';
        font-size: 35px;
        color: green;
    }

    .carousel-control-prev-icon:after {
        content: '<';
        font-size: 35px;
        color: green;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        height: 75px;
        width: 75px;
        outline: black;
    }
    .promos{
        font-size: 1rem;
        h3{
            font-size: 0.9rem;
        }
    }

    .tamanio{
        width: 40%;
        margin-left: 5%;
    }

    .pie-pagina{
        .grupo-1{
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 35px 0px;
        } 
    }    

    .integral{
        position: relative;
        justify-self:center;
    }
    
    .redes{
        position: relative;
        justify-self:center;
        h2{
            text-align: center;
        }
    }

    .nosotros{
        text-align: center;
    }

    .red-social{
        position: relative;
        justify-content: center;
    }    .mision{
        width: 90%;
        height: auto;
        margin-left: 5%;
        h3{
            font-size:  1.6rem;
        }
        p{
            font-size: 13px;
        }
    }

    .compromiso{
        h3{
            font-size:  1.6rem;
        }
        p{
            font-size: 13px;
        }
        img{
            width: 10%;
            margin-left: 45%;
        }
    }

    .escalar{
        margin-top: 25px;
        margin-bottom: 25px;
        background-color: rgb(215,215,215,0.5);
        img{
            width: 100%;
            height: 90%;
            margin-left: 0%;
            margin-top: 5%;
        }
        p{
            text-align: center;
        }
    }

    .bgtoma, .bgcarbon, .bgradiacion, .bgozono{
        background-color: white;
    }
    
}

@media (min-width:768px) and (max-width:991px) {
    .navFlex{
        display: flex;
        flex-direction: row;
        width: 95%;
        justify-content:flex-end;
    }

    .orden{
        p{
            font-size: 0.8rem;
        }
        label{
            font-size: 0.6rem;
        }
    }

    .fondofinal{
        background-image: url('../images/fondoplaya.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        p{
            text-align: center;
            font-size: 1.2rem;
        }
    }

    .escalar{
        img{
            width: 100%;
            height: 50%;
            margin-left: 0%;
            margin-top: 100px;
        }
    }

    .overlay{
        opacity: 0;
        width: 50%;
        height: 450px;
        margin-left: 25%;
        margin-top: 10px;
        background: rgb(255, 255, 255,0.9);
        position: fixed;
        top:0;
        bottom:0;
        left:0;
        right:0;
        align-items: center;
        justify-content: center;
        z-index: 1;
        img{
            width: 100%;
            height: auto;
        }
        a{
            color: black;
        }
    }

    .publicidad1{
        p{
            text-align: center;
            font-size: 1rem;
        }
        img{
            width: 100%;
            height: auto;
            margin-left: 0%;
        }
    }

    .container{
        padding-right: 5px;
        padding-left: 5px;
    }

    .carrusel{
        width: 80%;
        height: auto;
        margin-left: 10%;
    }

    .tamanio{
        width: 40%;
        margin-left: 5%;
    }

    .carousel-control-next-icon:after
    {
        content: '>';
        font-size: 45px;
        color: green;
    }

    .carousel-control-prev-icon:after {
        content: '<';
        font-size: 45px;
        color: green;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        height: 100px;
        width: 100px;
        outline: black;
    }
    .promos{
        font-size: 1.5rem;
        h3{
            font-size: 1.2rem;
        }
    }
    .compromiso{
        h3{
            font-size:  1.6rem;
        }
        p{
            font-size: 13px;
        }
        img{
            width: 10%;
            margin-left: 45%;
        }
    }
    .espacio{
        img{
            margin-top: 20px;
            width: 60%;
        }
        p{
            font-size: 1.3rem;
        }   
    }
   
    .requerimiento{
        background-color: white;
    }
    
    .minerales{
        background-color: lightgrey;
    }
    .diario{
        background-color: lightgrey;
    }
    
    .lactancia{
        background-color: white;
    }
    .fondoIndex{
        background-image: url('../assets/fondoazul.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        .tituloBlanco{
            p{
                color:white;
            }
        }
    }

    .bgtoma, .bgosmosis, .bgradiacion, .bgltc{
        background-color: white;
    }

}

@media (min-width:992px) {

    .escalar{
        margin-top: 25px;
        margin-bottom: 25px;
        background-color: rgb(215,215,215,0.5);
        img{
            width: 100%;
            height: 90%;
            margin-left: 0%;
            margin-top: 5%;
        }
        p{
            text-align: center;
        }
    }
    .navFlex .alineacion{
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content:flex-end;
    }

    .orden{
        p{
            font-size: 1rem;
        }
        label{
            font-size: 0.8rem;
        }
    }

    .requerimiento{
        background-color: white;
    }
    
    .minerales{
        background-color: lightgrey;
    }
    
    .diario{
        background-color: white;
    }
    
    .lactancia{
        background-color: lightgrey;
    }

    .bgtoma, .bgosmosis, .bgradiacion, .bgltc{
        background-color: white;
    }

    .mision{
        h3{
            font-size: 48px;
        }
        p{
            font-size: 15px;
        }
    }

    .publicidad1{
        img{
            width: 100%;
            margin-left: 0%;
        }
        p{
            font-size: 1.3rem;
        }
    }

    .compromiso{
        img{
            width: 40%;
        }
    }

    .carrusel{
        width: 80%;
        height: auto;
        margin-left: 10%;
    }
    .tamanio{
        width: 30%;
        margin-left: 5%;
    }
    .promos{
        font-size: 2rem;
        h3{
            font-size: 1.5rem;
        }
    }
    
    .carousel-control-next-icon:after
    {
        content: '>';
        font-size: 50px;
        color: green;
    }

    .carousel-control-prev-icon:after {
        content: '<';
        font-size: 50px;
        color: green;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        height: 100px;
        width: 100px;
        outline: black;
    }
    
.redes{
    position: relative;
    justify-self:right;
}
.espacio{
    img{
        margin-top: 20px;
        width: 50%;
    }
    p{
        font-size: 1.5rem;
    }   
}  

.fondoIndex{
    background-image: url('../images/fondoPuente.jfif');
    background-repeat: no-repeat;
    background-size:cover;
}

}
//Fin Responsive


/*mixin sin parametros*/
@mixin crearbordes() {
   // border: 2px solid black;
    border-radius: 10px;
  //  box-shadow: 0px 0px 5px black;
}

.reborde{
    @include crearbordes();
}

/*@extend   */
.reborde2{
    @extend .reborde; 
   background: linear-gradient(#dcecb5, #a8cf45);
    color: black;
}

$estilos: (
    centro: center,
    paddingh3: 20px,
    paddingp: 10px,
);

.estiloMap{
    h3{
        padding: map-get($map: $estilos, $key: paddingh3);
        text-align: map-get($map: $estilos, $key: centro);    
    }
    p{
        padding: map-get($map: $estilos, $key: paddingp);
        text-align: map-get($map: $estilos, $key: centro);    
    }
}

.galeria__promos{
    width:100%; 
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    align-items: center;
    & .galeria__promo{
        vertical-align:top;
        display:inline-block;
        text-align:center;
        width:250px;
        height: 250px;
        
        margin-left:20px;
        margin-right:20px;
        margin-top:10px;
        margin-bottom:10px;
        .galeria__imagenPromo{
            width:250px;
            height:250px;
        }
    }
}
